.errorContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100px; /* Adjust the height as needed */
  margin-top: 20px; /* Space above the error message */
}

.errorMessage {
  color: #003366; /* Dark blue text color */
  font-size: 1.5rem; /* Font size of the error message */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center align the text */
  padding: 20px; /* Padding around the text */
  background-color: #cce5ff; /* Light blue background */
  border-radius: 5px; /* Rounded corners for the background */
  border: 1px solid #99ccff; /* Matching border color */
}
